@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body
{
  overflow-x: hidden;
}
.head-up{
  background: #387ADF;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  font-size: 18px;
  color: white;
}

.navbar{
  width: 100%;
  background:  #21274f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
}
/*
header.sticky
{
  background: white;
  color: #1a1f3b;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;

}*/

.logo{
  position: relative;
  left: 8%;
  cursor: pointer;
}

.nav-link{
  list-style: none;
  position: relative;
  
}

.nav-link li{
  display: inline-block;
  padding: 20px;
}

.nav-link li a{
  position: relative;
  font-size: large;
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 100%;
}

.nav-link li:hover{
  background: #387ADF;
  cursor: pointer;
}

.btn-search{
 width: 10%;
 height: 30px;
 position: relative;
 right: 20px;
 border-radius: 5px;
 border: none;
 outline: none;
}
.main-content{
  background-color: #21274f;
  color: white;
  width: 100%;
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0 0px 20px 20px ;
  font-family: "Poppins", sans-serif;
}
.main-content .content-one-title{
  position: relative;
  top: 60px;
  font-size: 2.5rem;
}
.main-content .pragraphe-content-one{
  text-align: center;
  position: relative;
  bottom: 60px;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
  color: #FBA834;
  font-family: monospace;
}
span{
  color: whitesmoke;
}

.content_one_btn{
  width: 100%;
  position: relative;
  max-width: 35rem;
  bottom: 180px;
  display: flex;
  margin-left: 35%;
  margin-right: auto;
}
.btn_content{
  height: 50px;
  width: 50%;
  border-radius: 6.25rem;
  border: none;
  background-color: #387ADF;
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

.btn_content:hover{
  background-color: white;
  color: #21274f;
  transform: 0.3s;
  cursor: pointer;
}
.btn_content a{
  text-decoration: none;
  font-size: 18px;
  color: #21274f;
  font-family: monospace;
  font-weight: 600;
}

.section-one-links{
  display: flex;
  align-self: center;
  width: 25%;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-family: monospace;
  transition: 0.3s ease;
}
.section-one-links:hover{
  border-bottom: solid 1px white;
  max-width: max-content;
  transform: 5s ease-in-out ;
}
.content-img{
  position: absolute;
  top: 80%;
  height: 60vh;
}
.content-img .__content-img{
  width: 50%;
  position: relative;
  left: 25%;
  top: 5px;
  border-radius: 10px;
}
.main_content_two{
  margin-top: 10%;
  background-color: white;
  width: 100%;
  height: 190vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Poppins", sans-serif;
}
.main_content_two_part1
{
  background-color: #21274f;
  width: 100%;
  height: 25%;
  color: white;
  border-radius: 20px;
  padding: 20px;
}
.main_content_two .main_content_two_part1 .content_two_title{
  position: relative;
  padding: 20px;
  font-size: 2rem;
  text-align: center;
}
.main_content_two .main_content_two_part1 .prg_content_two{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #FBA834;
    font-family: "Poppins", sans-serif;
}

.main_content_two_part2
{
  width: 80%;
  height: 80px;
  right: 0;
  left: 0;
  padding-top: 10%;
}
.title_main_content_two_part2
{
  padding-bottom: 30px;
}
.prg_main_content_two_part2
{
  font-weight: 500;
  font-size: 20px;
  color: rgb(64, 60, 60);
  padding-bottom: 50px;
}
.btn_main_content_two_part2
{
  position: relative;
  padding: 5px;
  left: 5%;
  text-align: center;
  background-color: #387ADF;
  color: white;
  width: 12%;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.wrapper_login
{
  width: 380px;
  height: 70vh;
  position: relative;
  left: 28%;
  bottom: 20px;
  padding: 2rem 2rem;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.login_title
{
  width: max-content;
  position: relative;
  left: 30%;
  font-size: 2rem;
  color: #1a1f3b;
  margin-bottom: 2rem;
  cursor: pointer;
}

form input
{
  width: 90%;
  outline: none;
  border: 1px solid #fff;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background: #e4e4e4;
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
}

.signup_btn
{
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 80%;
  color: #fff;
  background: #387ADF;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.signup_btn:hover
{
  background: rgba(11, 170, 233, 0.877);
}
.signup_btn a{
  text-decoration: none;
  color: #fff;
}
input:focus
{
  border: 1px solid rgb(192, 192, 192);
}

.terms
{
  margin-top: 0.5rem;
}
.terms input
{
  text-align: center;
  cursor: pointer;
  
}

.terms a
{
  color: #FBA834;
  text-decoration: none;
}
/*************    FOOTER  */
footer
{
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 60vh;
  border-radius: 10px;
  box-shadow: 10px 0 20px 5px rgba(0, 0, 0, 0.1);
}

.footer_content
{
  width: 70%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}
.footer_logo
{
  position: relative;
  bottom: 30%;
  width: 50px;
  height: 30px;
  background: #387ADF;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.title_footer_list
{
  background-color: #1a1f3b;
  border-radius: 5px;
  color: white;
  max-width: max-content;
  padding: 5px;
  cursor: pointer;
}
.footer_list
{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin-left: 15%;
}
.footer_list li
{
  list-style: none;
  padding: 5px;
  grid: 10px;
}
.footer_list li a
{
  text-decoration: none;
  color: #21274f;
  transform: 0.1s;
}
.footer_list li a:hover
{
  border-bottom: 1px solid #21274f;
}